body {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    color: #111111;
}
header {
    display: flex;
    justify-content: space-between;
}
header nav a, .hero p, .footer-upsell p,.showcase p,footer p, li {
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #555555;
}
header nav a {
    padding-right: 28px;
    line-height: 100%;
}
.hero p , .showcase p , .footer-upsell p{
    line-height: 150%;
}
header nav a:last-child{
    color: #FF3998;
}
header img {
    align-self: center;
}
h5, li:first-child{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
h5 {
    color: #FF3998;
    margin-top: 16px;
}


.hero button , .footer-upsell button{
    background-image: url("assets/button.png");
    background-color: white;
    border: none;
    width: 188px;
    height: 75px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
}
/* main {
    background-image: url("assets/graphiccut.png");
    background-position: right top;
    background-repeat: no-repeat;
} */

h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
}
.upsell p {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}
.boom {
    grid-area: boom;
}
.blimp {
    grid-area: blimp;
}
.qrco {
    grid-area: qrco;
}
.droplet {
    grid-area: droplet;
}
.opendoor {
    grid-area: opendoor;
}
.showcase p a {
    color: #555555;
}
.scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.scroll div {
    padding-right: 40px;
}
.scroll div:last-child{
    padding-right: 0px;
}
table {
    width: 100%;
    background-color: #EEEEEE;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}
th{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
}
th:first-child {
    color: #FF8039;
    text-align: left;
    padding-left: 24px;
}
th:last-child {
    color: #777777;
    text-align: right;
    padding-right: 24px;
}
tr:nth-child(2){
    font-weight: 500;
    font-size: 20px;
}
tr:last-child {
    font-weight: 400;
    font-size: 18px;
    color: #777777;
}
td:first-child {
    text-align: left;
    padding-left: 24px;
}
td:last-child{
    text-align: right;
    padding-right: 24px;
}
.hero img , .footer-upsell img{
    float:right;
}
li {
    padding-bottom: 20px;
}
ul {
    list-style: none;
}
ul:first-child{
    grid-area: first;
}
ul:nth-child(2){
    grid-area: second;
}
ul:nth-child(3){
    grid-area: third;
}
ul:nth-child(4){
    grid-area: fourth;
}
footer p, li {
    line-height: 100%;
}
footer p{
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #999999;
}
@media only screen and (max-width: 768px) {
    .wrapper {
        display: block;
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    .upsell {
        background-image: url("assets/background.png");
        padding: 122px 32px 32px 32px;
        background-size: 100% 100%;
        background-repeat:no-repeat;
    }
    .hero h1 , .footer-upsell h1{
    font-weight: 900;
    font-size: 40px;
    line-height: 58px;
}
.full {
    display:none;
}
.hero , .footer-upsell {
    width:60vw;
}
.half {
    position:absolute;
    right:0;
    z-index: -1;
}
.hero img {
    position:absolute;
    right:-10px;
    z-index: -1;
}
    header nav {
        display: none;
   }
    .hero , header, .press, footer {
        padding: 32px;
   }
    .showcase{
        padding: 32px 0px 32px 32px;
   }
    .press {
        display: grid;
        grid-template-areas:"boom blimp" "qrco droplet";
        grid-template-columns: 138px 138px;
        grid-template-rows: auto;
        gap: 32px;
   }
    .opendoor {
        display: none;
   }
    .boom {
        overflow: hidden;
   }
    footer div{
        display: grid;
        grid-template-areas:"first second" "third fourth";
        grid-template-columns: 138px 138px;
        grid-template-rows: auto;
        gap: 32px;
   }
    footer p:last-child{
        display: none;
   }
}
@media only screen and (min-width: 768px) {
    .wrapper {
        display: block;
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    .upsell {
        background-image: url("assets/background.svg");
        padding-top:154px;
        padding-bottom:64px;
        padding-left:64px;
        background-size: 100% 100%;
        background-repeat:no-repeat;
    }
    .half {
        display: none;
    }
    header img:nth-child(2) {
        display:none;
   }
     header,  .press, .showcase, footer {
        padding-top: 80px;
        padding-bottom: 80px;
   }
    .hero h5 {
    padding-top: 80px;
    }
   .hero h1{
    font-weight: 900;
font-size: 90px;
line-height: 116px;
   }   
   .footer-upsell h1{
    font-weight: 900;
font-size: 56px;
line-height: 116px;

   }
   .footer-upsell img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
   .hero , .footer-upsell {
    width:55vw;
}
   .hero , .footer-upsell  {
    padding-bottom: 80px;
   }
   .showcase p {
    margin-bottom: 56px;
   }
    .press {
        display: grid;
        grid-template-areas:"boom blimp qrco opendoor droplet";
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 32px;
   }
    footer div{
        display: grid;
        grid-template-areas:"first second third fourth";
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 32px;
   }
}
