body {
    font-family: Helvetica, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
}
header nav a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */
    text-decoration: none;
    padding-right: 28px;
    /* Dark 2 */
    
    color: #555555;
}
header nav a:last-child{
    color: #FF3998;
}
header img {
    align-self: center;
}
h5 {
    color: #FF3998;
    margin-top: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.hero h1 {
    font-style:normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 58px;
    color: #111111;
}
.hero p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
   /* or 30px */
   /* Dark 2 */
    color: #555555;
}
.hero button {
    background-image: url("assets/button.png");
    background-color: white;
    border: none;
    width: 188px;
    height: 75px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
   /* identical to box height, or 30px */
    text-align: center;
   /* Dark 1 */
    color: #111111;
}
.hero div {
    width: 275px;
}
main {
    background-image: url("assets/graphiccut.png");
    background-position: right top;
   /* background-size: auto 100%;
    */
    background-repeat: no-repeat;
}
#upsell {
    background-image: url("assets/background.png");
    padding: 122px 32px 32px 32px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
}
#upsell h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
   /* Dark 1 */
    color: #111111;
}
#upsell p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
   /* or 30px */
   /* Dark 1 */
    color: #111111;
}

.boom {
    grid-area: boom;
}
.blimp {
    grid-area: blimp;
}
.qrco {
    grid-area: qrco;
}
.droplet {
    grid-area: droplet;
}
.opendoor {
    grid-area: opendoor;
}
.showcase h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
   /* Dark 1 */
    color: #111111;
}
.showcase p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
   /* or 30px */
   /* Dark 2 */
    color: #555555;
}
.showcase p a {
    color: #555555;
}
.scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.scroll div {
    padding-right: 40px;
}
.scroll div table {
    background-color: #EEEEEE;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
table {
    width: 100%;
}
th:first-child {
    text-transform: uppercase;
    color: #FF8039;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-align: left;
    padding-left: 24px;
}
th:last-child {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
   /* identical to box height, or 12px */
    text-transform: uppercase;
   /* Dark 3 */
    color: #777777;
    text-align: right;
    padding-right: 24px;
}
tr:nth-child(2){
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
   /* identical to box height, or 20px */
   /* Dark 1 */
    color: #111111;
}
tr:last-child {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
   /* identical to box height, or 18px */
   /* Dark 3 */
    color: #777777;
}
td:first-child {
    text-align: left;
    padding-left: 24px;
}
td:last-child{
    text-align: right;
    padding-right: 24px;
}
.hero img{
    float:right;
}
.hero {
    width:100vw;
}
footer p {
   font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
   /* identical to box height, or 20px */
   /* Dark 2 */
    color: #555555;
}
li:first-child{
   font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
   /* Dark 2 */
    color: #555555;
}
li {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    padding-bottom: 20px;
   /* or 20px */
   /* Dark 2 */
    color: #555555;
}
ul {
    list-style: none;
}

ul:first-child{
    grid-area: first;
}
ul:nth-child(2){
    grid-area: second;
}
ul:nth-child(3){
    grid-area: third;
}
ul:nth-child(4){
    grid-area: fourth;
}
footer p{
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 100%;
/* identical to box height, or 20px */


/* Dark 4 */

color: #999999;

}
footer p:last-child{
    display: none;
}



@media only screen and (max-width: 768px) {
header nav {
    display: none;
}
.hero , header, .press, .showcase, footer {
    padding: 32px;
}
.press {
    display: grid;
    grid-template-areas:"boom blimp" "qrco droplet";
    grid-template-columns: 138px 138px;
    grid-template-rows: auto;
    gap: 32px;
}

.opendoor {
    display: none;
}

.boom {
    overflow: hidden;
}
footer div{
    display: grid;
    grid-template-areas:"first second" "third fourth";
    grid-template-columns: 138px 138px;
    grid-template-rows: auto;
    gap: 32px;
}

}


@media only screen and (min-width: 768px) {
    header img:nth-child(2) {
        display:none;
    }    
    .hero , header, .upsell, .press, .showcase, footer {
        padding: 80px;
    }
    .press {
        display: grid;
        grid-template-areas:"boom blimp qrco droplet opendoor";
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 32px;
    }
    footer div{
        display: grid;
        grid-template-areas:"first second third fourth";
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 32px;
    }
}